<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="/todo">To Do</a>
        <a href="/plan"  class="clickedNav">Plan</a>
        <a href="/user" >User</a>
    </nav>

    <!-- Plan Container -->
    <div class="plan-container">
        <header class="plan-header">
            <h1>Week Plan</h1>
            <p class="current-status">Current Status: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="plan-switch">
                <button id="week-btn" class="active">Week</button>
                <button id="month-btn">Month</button>
            </div>
        </header>

        <!-- Week Plan Section -->
        <section id="week-plan" class="plan-section">
            <div class="navigation">
                <button class="prev-btn">Previous</button>
                <button class="next-btn">Next</button>
            </div>
            <ul class="week-list">
                {% for plan in week_plan %}
                <li>
                    <span>{{ plan.day }}</span>
                    <p>To Do List (brief): {{ plan.task }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section id="month-plan" class="plan-section hidden">
            <ul class="month-list">
                {% for plan in month_plan %}
                <li>
                    <span>{{ plan.week }}</span>
                    <p>Description of the Exercise Plan: {{ plan.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <script>
        const weekBtn = document.getElementById('week-btn');
        const monthBtn = document.getElementById('month-btn');
        const weekPlan = document.getElementById('week-plan');
        const monthPlan = document.getElementById('month-plan');
        const weekList = document.querySelector('.week-list');
        const monthList = document.querySelector('.month-list');
    
        const prevWeekBtn = document.querySelector('.prev-btn');
        const nextWeekBtn = document.querySelector('.next-btn');
    
        const currentWeekStartDate = getMonday(new Date());
        let currentMonth = new Date().toISOString().slice(0, 7);
        
        function getMonday(date) {
            const day = date.getDay(); 
            const diff = day === 0 ? -6 : 1 - day; 
            const monday = new Date(date);
            monday.setDate(date.getDate() + diff);
            return monday;
        }

        function fetchWeekPlan(currentDate) {
            const start = getMonday(currentDate); 
            const end = new Date(start);
            end.setDate(start.getDate() + 6); 

            const startStr = start.toISOString().split('T')[0];
            const endStr = end.toISOString().split('T')[0];

            const daysOfWeek = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

            fetch(`/plan/week?start_date=${startStr}&end_date=${endStr}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error fetching week plan: ${response.statusText}`);
                    }
                    return response.json();
                })
                .then(data => {
                    weekList.innerHTML = '';
                    let currentDay = new Date(start); 
                    daysOfWeek.forEach(day => {
                        const dateStr = currentDay.toISOString().split('T')[0]; 
                        const tasks = data[dateStr] || []; 
                        const listItem = document.createElement('li');
                        listItem.innerHTML = `
                            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                <span>${day}</span>
                                <small>${dateStr}</small>
                            </div>
                            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                ${tasks.length > 0
                                    ? tasks.slice(0, 3).map(task => `<div style="color: #333333;"> &#9679; ${task}</div>`).join("")
                                    : "<div style='color: gray; font-style: italic;'>No tasks available for today</div>"
                                }
                            </div>
                            `;
                        weekList.appendChild(listItem);

                        currentDay.setDate(currentDay.getDate() + 1);
                    });
                })
                .catch(error => {
                    console.error(error);
                    weekList.innerHTML = `<li>Error loading week plan</li>`;
                });
        }

        function fetchMonthPlan(month) {
            fetch(`/plan/month?month=${month}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error fetching month plan: ${response.statusText}`);
                    }
                    return response.json();
                })
                .then(data => {
                    monthList.innerHTML = '';
                    if (typeof data === "object" && Object.keys(data).length > 0) {
                        let weekIndex = 1;
                        Object.entries(data).forEach(([startDate, description]) => {
                            const start = new Date(startDate);
                            const end = new Date(start);
                            end.setDate(start.getDate() + 6);

                            const startStr = start.toISOString().split('T')[0];
                            const endStr = end.toISOString().split('T')[0];

                            const listItem = document.createElement('li');
                            listItem.innerHTML = `
                            <div style="display: flex; flex-direction: column;">
                                <span>Week ${weekIndex++}</span>
                                <small>${startStr} - ${endStr}</small>
                            </div>
                                <p>Weekly Plan: ${
                                    description ? description : "<div style='color: gray; font-style: italic;'>No description</div>"
                                }</p>`;
                            monthList.appendChild(listItem);
                        });
                    } else {
                        monthList.innerHTML = `<li>No tasks for the month</li>`;
                    }
                })
                .catch(error => {
                    console.error(error);
                    monthList.innerHTML = `<li>Error loading month plan</li>`;
                });
        }


    
        prevWeekBtn.addEventListener('click', () => {
            currentWeekStartDate.setDate(currentWeekStartDate.getDate() - 7);
            fetchWeekPlan(currentWeekStartDate);
        });

        nextWeekBtn.addEventListener('click', () => {
            currentWeekStartDate.setDate(currentWeekStartDate.getDate() + 7);
            fetchWeekPlan(currentWeekStartDate);
        });


        weekBtn.addEventListener('click', () => {
            weekPlan.classList.remove('hidden');
            monthPlan.classList.add('hidden');
            weekBtn.classList.add('active');
            monthBtn.classList.remove('active');
            fetchWeekPlan(currentWeekStartDate);
        });
    
        monthBtn.addEventListener('click', () => {
            weekPlan.classList.add('hidden');
            monthPlan.classList.remove('hidden');
            monthBtn.classList.add('active');
            weekBtn.classList.remove('active');
            fetchMonthPlan(currentMonth);
        });
    
        fetchWeekPlan(currentWeekStartDate);
        fetchMonthPlan(currentMonth);
    </script>
</body>
</html>
