[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
python-dotenv = "*"

[packages]
flask = "*"
werkzeug = "*"
pymongo = "*"
bson = "*"

[requires]
python_version = "3.12"